div#nav {
	background: rgb(101, 142, 184); font: 10px/normal Verdana, Arial, sans-serif; margin: 0px; top: 100px; width: 700px; position: absolute; z-index: 1000; font-size-adjust: none; font-stretch: normal;
}
div#nav ul {
	background: rgb(101, 142, 184); margin: 0px; padding: 0px; color: rgb(255, 255, 255);
}
div#nav li {
	list-style: none; margin: 0px; line-height: 13px; float: left; position: relative;
}
div#nav li:hover {
	background: rgb(51, 102, 153);
}
div#nav li.submenu:hover {
	background-color: rgb(51, 102, 153);
}
div#nav li a {
	padding: 4px 13px; color: rgb(255, 255, 255); text-decoration: none; display: block;
}
div#nav > ul a {
	width: auto;
}
div#nav ul ul {
	width: 145px; display: none; position: absolute;
}
div#nav ul ul li {
	width: 145px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
div#nav li.submenu li.submenu:hover {
	background-color: rgb(238, 221, 221);
}
div#nav li.submenu li.submenu:hover {
	background-color: rgb(238, 221, 221);
}
div#nav ul.level1 li.submenu:hover ul.level2 {
	display: block;
}
div#nav ul.level2 li.submenu:hover ul.level3 {
	display: block;
}
div#nav ul.level2 {
	left: 0px; top: 20px;
}
div#nav ul.level3 {
	left: 145px; top: -1px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
