@import url( https://fonts.googleapis.com/css?family=open sans:400,300,300italic,400italic,500,500italic );
@import url( https://fonts.googleapis.com/css?family=Open+Sans:400,300,600 );
@import url( style_home_New.css );
@import url( nav_home_New.css );
body {
	background: rgb(156, 170, 172); font: 10px/normal Verdana, open sans, sans-serif; margin: 0px; font-size-adjust: none; font-stretch: normal; behavior: url(styles/csshover.htc);
}
div.out_office {
	margin: 10px 10px 0px 5px; width: 145px; z-index: 10;
}
.out_office_head {
	font: bold 14px/normal "open sans", Tahoma, Verdana, sans-serif; margin: 14px 0px 8px; padding: 2px 3px 1px 4px; color: rgb(51, 102, 153); font-size-adjust: none; font-stretch: normal; background-color: rgb(153, 204, 255);
}
.out_office_sub {
	font: bold 10px/normal Verdana, sans-serif; margin: 6px 0px 0px 3px; padding: 0px; color: rgb(255, 102, 0); font-size-adjust: none; font-stretch: normal;
}
.out_office_text {
	font: 10px/normal Verdana, open sans, sans-serif; margin: 0px 0px 6px 3px; color: rgb(51, 102, 153); font-size-adjust: none; font-stretch: normal;
}
.out_office_text a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.out_office_text a:visited {
	color: rgb(51, 102, 153); text-decoration: none;
}
.out_office_text a:hover {
	color: rgb(0, 0, 0);
}
.out_office_name {
	font: bold 10px/normal Verdana, open sans, sans-serif; margin: 0px 0px 0px 3px; color: rgb(51, 102, 153); font-size-adjust: none; font-stretch: normal;
}
.out_office_name a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.out_office_name a:visited {
	color: rgb(51, 102, 153); text-decoration: none;
}
.out_office_name a:hover {
	color: rgb(0, 0, 0);
}
.left_side_head {
	font: bold 14px/normal "open sans", Tahoma, Verdana, sans-serif; padding: 10px 3px 1px 5px; color: rgb(51, 102, 153); font-size-adjust: none; font-stretch: normal; background-color: rgb(153, 204, 255);
}
div.left_side {
	margin: 10px 10px 0px 5px; width: 130px; z-index: 10;
}
.left_side ul {
	list-style: none; margin: 0px; padding: 0px;
}
.left_side li {
	margin: 0px; padding: 1px 2px 1px 4px;
}
.left_side {
	font: 10px/normal Verdana, open sans, sans-serfif; color: rgb(102, 102, 102); font-size-adjust: none; font-stretch: normal;
}
.left_side a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.left_side a:visited {
	color: rgb(102, 102, 102); text-decoration: none;
}
.left_side a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.main_head {
	font: 24px/normal "open sans", Tahoma, Verdana, sans-serif; margin: 0px; padding: 45px 0px 0px 15px; color: rgb(255, 102, 0); font-size-adjust: none; font-stretch: normal;
}
.main_head a:link {
	color: rgb(255, 102, 0); text-decoration: none;
}
.main_head a:visited {
	color: rgb(255, 102, 0); text-decoration: none;
}
.main_head a:hover {
	color: rgb(255, 102, 0); text-decoration: underline;
}
.main_sub {
	font: 10px/normal Verdana; margin: 0px; padding: 10px 0px 0px 15px; font-size-adjust: none; font-stretch: normal;
}
.main_sub a:link {
	color: rgb(51, 102, 153); text-decoration: none;
}
.main_sub a:visited {
	color: rgb(51, 102, 153); text-decoration: none;
}
.main_sub a:hover {
	color: rgb(51, 102, 153); text-decoration: underline;
}
.main_news {
	font: 10px/normal Verdana; margin: 0px; padding: 0px 20px 0px 15px; color: rgb(102, 102, 102); font-size-adjust: none; font-stretch: normal;
}
.main_news a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.main_news a:visited {
	color: rgb(102, 102, 102); text-decoration: none;
}
.main_news a:hover {
	color: rgb(102, 102, 102); text-decoration: underline;
}
div#wrap_01 {
	background: rgb(255, 255, 255); margin: 15px auto; padding: 0px 0px 50px; border: 1px solid black; border-image: none; width: 702px; height: 100%; position: relative; min-height: 2000px;
}
.masthead {
	margin: 0px; padding: 0px;
}
.mastheadText {
	font: 10px/13px Verdana, open sans, sans-serif; margin: 0px; padding: 0px; top: 37px; right: 30px; color: rgb(255, 255, 255); position: absolute; font-size-adjust: none; font-stretch: normal;
}
.mastheadText a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.mastheadText a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.mastheadText a:hover {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.google {
	top: 45px; text-align: right; right: 10px; position: absolute;
}
div.home_main {
	margin: 0px; padding: 0px; border: 1px solid rgb(190, 190, 190); border-image: none; left: 150px; top: 136px; width: 380px; height: auto; right: 160px; position: absolute; background-color: rgb(255, 255, 255);
}
.alert_on {
	background: url("../images/alert02.gif") no-repeat 20px 7px; font: 10px/normal Verdana; margin: 0px; padding: 10px 0px 10px 70px; font-size-adjust: none; font-stretch: normal;
}
.alert_off {
	font: 10px/normal Verdana; margin: 0px; padding: 10px 0px 0px 15px; display: none; font-size-adjust: none; font-stretch: normal;
}
.feature_head {
	font: 20px/normal "open sans", Tahoma, Verdana, sans-serif; margin: 0px; padding: 20px 0px 3px 20px; color: rgb(255, 102, 0); font-size-adjust: none; font-stretch: normal;
}
.feature_image {
	padding: 0px 10px 0px 0px;
}
.feature_body {
	font: 10px/normal Verdana; margin: 0px; padding: 0px 20px 6px; font-size-adjust: none; font-stretch: normal;
}
.feature_body02 {
	font: 10px/normal Verdana; margin: 0px; padding: 10px 20px 6px 15px; font-size-adjust: none; font-stretch: normal;
}
.feature_link {
	font: 10px/normal Verdana; margin: 0px; padding: 0px 0px 0px 20px; font-size-adjust: none; font-stretch: normal;
}
.feature_link a:link {
	color: rgb(51, 102, 153); text-decoration: none;
}
.feature_link a:visited {
	color: rgb(51, 102, 153); text-decoration: none;
}
.feature_link a:hover {
	color: rgb(51, 102, 153); text-decoration: underline;
}
.home_left {
	top: 125px; width: 150px; height: 1400px; position: absolute; background-color: rgb(255, 255, 255);
}
.home_right {
	top: 131px; width: 160px; height: 1400px; right: 1px; position: absolute; background-color: rgb(255, 255, 255);
}
.footer {
	margin: 20px auto 0px; width: 700px; clear: both; background-color: red;
}
.top {
	width: 696px; position: absolute; background-color: rgb(255, 255, 255);
}
.top_links {
	border: 1px solid rgb(102, 102, 102); border-image: none;
}
.top_links {
	font: 10px/normal Verdana, open sans, sans-serif; margin: 3px 2px 6px; padding: 3px 5px; text-align: center; color: rgb(130, 130, 130); font-size-adjust: none; font-stretch: normal;
}
.top_links a:link {
	color: rgb(130, 130, 130); text-decoration: none;
}
.top_links a:visited {
	color: rgb(130, 130, 130); text-decoration: none;
}
.top_links a:hover {
	text-decoration: underline;
}
.table_head {
	text-align: center; color: rgb(255, 102, 51); font-family: Tahoma, Geneva, sans-serif; font-size: 14px; font-variant: normal; font-weight: bold; vertical-align: middle;
}
.company_text {
	font: bold 10px/normal Verdana, Geneva, sans-serif; color: rgb(153, 204, 255);
}
.masthead_home img {
	display: none !important;
}
div#nav {
	background: 0px 0px rgb(101, 142, 184); font: 9px/normal Verdana, open sans, sans-serif; margin: 0px; top: 94px; width: 690px; padding-left: 12px; position: absolute; z-index: 1000; font-size-adjust: none; font-stretch: normal;
}
.style233 {
	color: rgb(62, 113, 164) !important;
}
.style3 {
	font-family: "open sans",Tahoma,Verdana,sans-serif !important; font-size: 18px; font-weight: 800 !important;
}
p {
	font-family: "open sans",Tahoma,Verdana,sans-serif !important;
}
li {
	font-family: "open sans",Tahoma,Verdana,sans-serif !important;
}
.top_links {
	font: 10px/normal open sans, sans-serif; margin: 3px 2px 6px; padding: 3px 5px; text-align: center; color: rgb(130, 130, 130); font-size-adjust: none; font-stretch: normal;
}
.style227 {
	color: rgb(0, 51, 102); font-weight: 500;
}
li {
	line-height: 18px; letter-spacing: 0.3px; font-family: "open sans",Tahoma,Verdana,sans-serif !important; font-size: 11px;
}
p {
	line-height: 19px !important; letter-spacing: 0.2px; font-family: "open sans",Tahoma,Verdana,sans-serif !important; font-size: 12px !important; font-weight: 500 !important;
}
.style3 {
	line-height: 24px; letter-spacing: 0.6px; font-family: arial; font-size: 18px; font-weight: bold;
}
